{% extends "base.html" %}

{% block title %} Edit company {% endblock %}

{%  block content %}

<h1>Edit {{ company.name }}</h1>
<form method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Update company">
</form>




{% endblock %}

{% block subnav %}
    {% if user.is_staff %}
        <nav class="navbar navbar-default">
            <ul class="nav navbar-nav">
        <li><a href="{% url "companies" %}">Companies</a></li>
        <li><a href="{% url "view_company" company.id %}" >View {{ company.name }}</a></li>

            </ul>
        </nav>
    {% endif %}
{% endblock %}
