{% extends 'base.html' %}
{% load humanize %}


{% block title %} Profile - {{ user.first_name }} {% endblock %}

{% block header %} {{ user.first_name }} {{ user.last_name }}'s Profile {% endblock %}

{% block content %}
    <div class="col-md-6">
        <p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
        <p>Address: {{ user.address }}</p>
        <p>Location: {{ user.city }}, {{ user.state }} {{ user.zip }}</p>
        <p>Country: {{ user.country }}</p>
        <p>Company: {{ user.company }}</p>
        <img src="{{ user.image }}" class="img-thumbnail" />
        <h1>About me</h1><br>
        <p>{{ user.bio }}</p>
    </div>

    <a href="{% url 'profile_update' user.id %}" class="btn btn-lg btn-primary">Save profile</a>

{% endblock content %}
