@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

body {background: #eee; font-family: 'Open Sans', sans-serif; font-weight: 100;}

#nav-outer-container #navbar #nav-sw-logo-bar {background-image: none;}
#nav-sw-logo-bar {background: #1786eb; background-image: none;}
#nav-sw-logo {background-image: none;}
a#nav-sw-logo-bar {background-image: none; background: #333;}
a#nav-sw-logo {background-image: none; background: #333;}
#nav-inner-container {background-image: none;}

footer {background-image: none; }

li.list-group-item-pearl {background: #eee;}
li.list-group-item-dodger {background: dodgerblue}
li.list-group-item-orange {background: #f39c12;}
li.list-group-item-pearl {background: red;}
li.list-group-item-seagreen {background: lightseagreen}
li.list-group-item-teal {background: teal}
li.list-group-item-yellow {background: #ffff00}
li.list-group-item-dark {background: #101010}


li.list-group-item a{color: #333;}
