{% extends "base.html" %}
{% load humanize %}

{% block title %} developer {% endblock %}

{%  block content %}

<h1>{{ developer.name }}</h1>
    {% if developer.company.name %}
        <h3>{{ developer.company.name }}</h3>
    {% endif %}
    {% if developer.city %}
        <h3>{{ developer.city }}, {{ developer.state }}</h3>
    {% endif %}
    <hr>
    <ul>
    {% if developer.email %}
        <li><a href="mailto:{{ developer.email }}">{{ developer.email }}</a></li>
    {% endif %}
    {% if developer.phone %}
        <li>{{ developer.phone }}</li>
    {% endif %}
    </ul>
    {% if developer.age > 1 %}
        <p>Age: {{ developer.age }}</p>
    {% endif %}
    {% if developer.city %}
        <blockquote>
            {{ developer.address }}<br>
            {{ developer.city }}, {{ developer.state }} {{ developer.zip }}<br>
            {{ developer.country }}<br>
        </blockquote>
        <hr>
    {% endif %}

{% endblock %}

{% block subnav %}


    {% if user.is_staff %}
        <nav class="navbar navbar-default">
            <ul class="nav navbar-nav">
                <li><a href="{% url "edit_developer" developer.id %}">Edit developer</a></li>
            </ul>
        </nav>
    {% endif %}


{% endblock %}

